.navbar {
    background-color: orange;
    overflow: hidden;

}

.task{
    display: flex;
    justify-content: end;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: left;
    margin: 5px;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li.highlight a {
    background-color: black;
    color: white;
}

